:root {
  --titles-color: #212121;
  --light-titles-color: #ffffff;
  --text-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --basement-logo-color: #ffffff;
  --basement-contacts-color: rgba(255, 255, 255, 0.6);

  --first-bcg-color: #ffffff;
  --sec-bcg-color: #2f303a;
  --third-bcg-color: #f5f4fa;

  --first-font-btn-color: #ffffff;
  --sec-font-btn-color: #212121;
  --first-bcg-btn-color: #2196f3;
  --sec-bcg-btn-color: #188ce8;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}

h1 h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a:focus,
button,
input,
textarea {
  outline: none;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.list {
  padding: 0;
  list-style: none;
  margin: 0;
}
/* Ховаємо заголовок */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title {
  margin: 0 0 50px;

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--titles-color);
}
.section {
  padding: 94px 0;
}
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*----------Шапка-----------*/

.header {
  background-color: var(--first-bcg-color);
  border-bottom: 1px solid #ececec;
}
.box {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo-text {
  color: var(--accent-color);
}
.logo {
}

.header-link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-list .link.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background: #2196f3;
}
.header-list .current {
  color: #2196f3;
}
.contacts-list,
.header-list {
  display: flex;
  gap: 50px;
}
.contacts-list {
  margin-left: auto;
}
.header-contacts {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-contacts {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

/*----------Герой-----------*/

.hero {
  background-color: var(--sec-bcg-color);
  padding: 200px 0;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/imgoverlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: 0 auto 30px;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-titles-color);
}

.hero__button {
  display: block;
  min-width: 221px;
  padding: 10px 32px;
  margin: 0 auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--first-font-btn-color);
  background-color: var(--first-bcg-btn-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--sec-bcg-btn-color);
  color: var(--first-font-btn-color);
}

/*----------Преимущетва -----------*/
.benefits__pb-none {
  padding-bottom: 0;
}
.benefits__overtittle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.benefits__list {
  display: flex;
  gap: 30px;
}

.benefits__subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titles-color);
}
.benefits__text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*----------Примеры работ-----------*/
.example__section {
  background-color: var(--first-bcg-color);
  text-align: center;
}
.examples__list {
  display: flex;
  gap: 30px;
}
.examples__item {
  position: relative;
}
.examples__text {
  display: flex;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  bottom: 0px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/*----------Наша команда-----------*/
.team__section {
  background-color: var(--third-bcg-color);
  text-align: center;
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__item {
  width: 270px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  color: var(--titles-color);
}
.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}
.team__conteiner-icon {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team__link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #afb1b8;
}
.team__icon-svg {
  display: inline-flex;
  fill: currentColor;
}

.team__link-icon:hover,
.team__link-icon:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team__padding {
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
}
/*-------Постоянные клиенты------*/
.client {
  background-color: #ffffff;
  text-align: center;
}
.client-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-color);
}
.client-list {
  display: flex;
  gap: 30px;
}
.client-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
}
.client-link-icon,
.client-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: #afb1b8;
}

.client-link-icon:hover .client-icon,
.client-link-icon:focus .client-icon {
  fill: #2196f3;
}

.client-link-icon:hover,
.client-link-icon:focus {
  border-color: #2196f3;
}

/*----------footer------------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--sec-bcg-color);
}
.conteiner.box {
  display: flex;
  align-items: baseline;
}
.footer-block {
  margin-right: 70px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--basement-logo-color);
}
.logo-text {
  color: var(--accent-color);
}

.footer-address {
  font-style: normal;
}

.footer-text {
  display: inline-block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-titles-color);
}
.footer-list > .footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--basement-contacts-color);
}

.footer-partner-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #2f303a;
}

.footer-partner-list {
  display: flex;
  gap: 10px;
}

.footer-partner-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-partner-icon {
  fill: var(--light-titles-color);
}

.footer-partner-link:hover,
.footer-partner-link:focus {
  background-color: #2196f3;
}
/* footer-third-container */
.footer-partner-block {
  margin-right: auto;
}

.footer-form__wrapper {
  display: flex;
}

.footer-form__input {
  display: block;
  margin-right: 12px;
  padding: 14px 16px;

  min-width: 358px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:focus,
.footer-form__input:focus {
  border: 1px solid #2196f3;
}

.footer-form__submit {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.footer-form__submit:hover,
.footer-form__submit:focus {
  background-color: #188ce8;
}

.footer-form__icon {
  margin-left: 10px;
}

/*----------PORTFOLIO PAGE-----------*/
/*----------EXAMPLES------------*/
.portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: var(--third-bcg-color);
  color: var(--titles-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--first-font-btn-color);
  background-color: var(--first-bcg-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: 370px;
}

.portfolio-list .portfolio-item-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-overlay {
  position: relative;
  overflow: hidden;
}
.overlay-tittle {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}
.link:hover .overlay-tittle,
.link:hover .overlay-tittle {
  transform: translateY(0);
}
.portfilio-conteiner {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--titles-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*----------modal------------*/

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(360deg);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 528px;
  min-height: 581px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--accent-color);
}
.modal-close {
  fill: currentColor;
}
/*----------Forma------------*/
.form {
}

.form-tittle {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;
}

.form-field-cube {
  position: relative;
  margin-bottom: 10px;
}
.form-field-inpat {
  padding-left: 42px;
  padding-right: 15px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 1;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-commentary:focus,
.form-field-inpat:focus {
  border: 1px solid #2196f3;
}

.form-field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-inpat:focus + .form-field-icon {
  fill: #2196f3;
}

.order-form-form-field {
  margin-bottom: 20px;
}
.form-field-commentary {
  display: block;
  padding: 12px 16px;

  width: 100%;
  height: 120px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-commentary::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-cube-label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;

  color: #757575;
}
/* ------- CHECKBOX -------- */
.checkbox-box {
  padding: 0 12px;
  margin-bottom: 30px;
}

.checkbox-box-label {
  position: relative;
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;

  color: #757575;
}

.checkbox-box-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-box-icon {
  display: inline-block;
  margin-right: 8px;

  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-box-icon--checked {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  border-color: transparent;
}

.checkbox-box-checkbox:checked + .checkbox-box-icon {
  background-color: #2196f3;
  border-color: #2196f3;
}

.checkbox-box-checkbox:focus + .checkbox-box-icon {
  border-color: #2196f3;
}

.checkbox-box-link {
  color: #2196f3;
}

.order-form-button-cube {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-form-button {
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.order-form-button:hover,
.order-form-button:focus {
  background-color: #188ce8;
}
