:root {
  --titles-color: #212121;
  --light-titles-color: #ffffff;
  --text-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --basement-logo-color: #ffffff;
  --basement-contacts-color: rgba(255, 255, 255, 0.6);

  --first-bcg-color: #ffffff;
  --sec-bcg-color: #2f303a;
  --third-bcg-color: #f5f4fa;

  --first-font-btn-color: #ffffff;
  --sec-font-btn-color: #212121;
  --first-bcg-btn-color: #2196f3;
  --sec-bcg-btn-color: #188ce8;
}
