$titlescolor: #212121;
$lighttitlescolor: #ffffff;
$textcolor: #757575;
$accentcolor: #2196f3;
$logocolor: #000000;
$basementlogocolor: #ffffff;
$basementcontactscolor: rgba(255, 255, 255, 0.6);

$firstbcgcolor: #ffffff;
$secbcgcolor: #2f303a;
$thirdbcgcolor: #f5f4fa;

$firstfontbtncolor: #ffffff;
$secfontbtncolor: #212121;
$firstbcgbtncolor: #2196f3;
$secbcgbtncolor: #188ce8;
